// ==========================================
// == Luna Framework
// == AUTHOR: CLAUDE MYBURGH
// == URL: http://lunaframework.co.za
// ==========================================

=makeButton
  position: relative
  background-color: transparent
  border: 1px solid transparent
  border-radius: 2px
  box-shadow: none
  color: $global-link-color
  cursor: pointer
  display: inline-block
  letter-spacing: 1px
  font:
    weight: $the__button__font__weight
    size: $the__button__font__size
  font-family: Roboto, sans-serif
  margin: 0
  min-width: 36px
  outline: 0
  overflow: hidden
  padding: 4px 16px
  line-height: (12px + $the__button__font__size)
  text-align: center
  text-decoration: none
  text-overflow: ellipsis
  text-transform: uppercase
  transition: background-color .2s, box-shadow .2s
  vertical-align: middle
  white-space: nowrap
  z-index: 1
  @extend .selectable__false

  &:hover,
  &:active,
  &:focus
    background-color: #e1f3fc
    z-index: 2
    text-decoration: none

  &.disabled,
  &[disabled]
    background: $mute-color
    border: solid 1px $mute-border-color
    color: darken($mute-border-color, 5%)
    &:hover
      background: $mute-color
      border: solid 1px $mute-border-color
      color: darken($mute-border-color, 5%)
      box-shadow: none
