// ==========================================
// == Luna Framework
// == AUTHOR: CLAUDE MYBURGH
// == URL: http://lunaframework.co.za
// ==========================================

.text
	&-align

		&-center
			text-align: center

		&-left
			text-align: left

		&-right
			text-align: right
