// ==========================================
// == Luna Framework
// == AUTHOR: CLAUDE MYBURGH
// == URL: http://designbycode.co.za
// ==========================================

.lead
    font-weight: 700
    font-size: 120%

@each $key, $value in $_color_set
    .text
        &--#{$key}
            color: $value !important
            &-light
                color: mix($value, #fff, 30%) !important

    .bg
        &--#{$key}
            background-color: $value !important
            &-light
                background-color: mix($value, #fff, 10%) !important
            &-gradient
                background: linear-gradient(to bottom, $value, darken($value, 5%)) !important

    .border
        &--#{$key}
            border:
                color: $value !important
                width: 1px
                style: solid
            &-light
                border:
                    color: mix($value, #fff, 30%) !important
                    width: 1px
                    style: solid

