
// ==========================================
// == Luna Framework
// == AUTHOR: CLAUDE MYBURGH
// == URL: http://designbycode.co.za
// ==========================================

.bq
    border-left: solid $mute-color 3px
    margin: $the__global__padding 0
    background: #fff
    box-shadow: rgba(#000, 0.15) 0px 0px 2px
    font-weight: 500
    padding: 0 $the__global__padding
    +radius($the__notify__border__radius)

    &__header,
    &__body,
    &__footer
        padding: $the__global__padding
        margin-left: -$the__global__padding
        margin-right: -$the__global__padding

    &__body
        padding-top: 0


    &__header
        font-weight: 600
        font-size: 120%
        color: $mute-color


    @each $key, $value in $_color_set

        &--#{$key}
            border-left: solid $value 5px

            .bq__header
                color: $value
