// ==========================================
// == Luna Framework
// == AUTHOR: CLAUDE MYBURGH
// == URL: http://lunaframework.co.za
// ==========================================

%icon
  position: absolute
  top: ($navigation__height / 2) - ($navicon__size / 2)  //$navicon__position__top
  right: $navicon__position__right
  display: block
  width: $navicon__size
  height: $navicon__size
  background: $navicon__backgound__color
  cursor: pointer
  &::after,
  &--open::after
    font-family: "Lunacon"
    position: absolute
    top: 0
    left: 0
    line-height: $navicon__size
    font-size: $navicon__font__size
    text-align: center
    width: inherit
    height: inherit
    content: $unicode-navicon
    color: $navicon__color



.nav
  position: relative
  z-index: 9999
  background: $navigation__background__color
  box-shadow: rgba(#000, 0.5) 0 2px 5px
  width: 100%
  min-height: $navigation__height + ($navigation__padding * 2)
  +media-custom('min', $navigation__breakpoint)
    min-height: $navigation__height
    padding:
      top: $navigation__padding
      bottom: $navigation__padding
  +clearfix

  &--strip
    +media-custom('min', $navigation__breakpoint)
      background: transparent
      border-color: transparent
      box-shadow: none
      transition: all 0,5s ease



  //  Fixed Menu
  &--fixed
    position: fixed
    top: 0
    z-index: 10000

  // Main Menu Wrapper
  &__wrapper
    width: $the__width__of__wrapper
    max-width: $the__max__width__of__wrapper
    padding:
      left: $the__global__padding
      right: $the__global__padding
    margin:
      left: auto
      right: auto
    // +clearfix

  // The Logo Section
  &__brand
    float: left
    font-size: $navigation__brand__font__size
    line-height: $navigation__height
    margin-right: $the__global__padding
    a
      color: $navigation__brand__color
      text-decoration: none
      float: left

  // Link Set
  &__links
    list-style: none
    padding: 0
    margin: 0
    display: block
    +clearfix
    +media-custom('max', $navigation__breakpoint)
      margin-left: -$the__global__padding
      margin-right: -$the__global__padding


    // The Wrapper wraps the links above
    &__wrapper
      float: left
      +media-custom('max', $navigation__breakpoint)
        float: none
        width: 100%
        display: none

      &--open
        +media-custom('max', $navigation__breakpoint)
          display: block

      &:first-child
        border-bottom: 1px solid rgba(#fff, 1)

    // Align menu right
    &--right
      float: right
    //Align menu left
    &--left
      float: left

    // The li emements

    &__item
      position: relative
      display: inline-block
      float: left
      background: $navigation__links__background__color
      line-height: $navigation__height

      a
        display: block
        color: $navigation__links__color
        text-decoration: none
        padding: 0 15px

      &:hover,
      &--active
        background: $navigation__links__background__color__hover
        > a
          color: $navigation__links__color__hover


  // Nav icon button
  &__navicon
    display: none

    +media-custom('max', $navigation__breakpoint)
      position: absolute
      top: ($navigation__height / 2) - ($navicon__size / 2)  //$navicon__position__top
      right: $navicon__position__right
      display: block
      width: $navicon__size
      height: $navicon__size
      background: $navicon__backgound__color
      cursor: pointer
      &::after,
      &--open::after
        font-family: "Lunacon"
        position: absolute
        top: 0
        left: 0
        line-height: $navicon__size
        font-size: $navicon__font__size
        text-align: center
        width: inherit
        height: inherit
        content: $unicode-navicon
        color: $navicon__color



// ================
// Dromdown Section
// ================


.nav
  &__links
    +media-custom('max', $navigation__breakpoint)
      margin-bottom: $the__global__padding

    &__item
      +media-custom('max', $navigation__breakpoint)
        float: none
        display: block
        line-height: $mobile__navigation__height

      &--dropdown
        position: relative
        > a
          position: relative
          padding-right: 40px

          &::after
            position: absolute
            right: 0
            top: 0
            font-family: Lunacon
            content: $unicode-chevron-down
            width: 30px
            height: 30px
            display: block


        .nav__links
          position: absolute
          display: none
          width: 200px
          background: $navigation__submenu__links__background__color
          top: $navigation__height
          left: 0
          box-shadow: rgba(#000, 0.75) 0 20px 40px -10px
          a
            color: $navigation__submenu__links__color
            @extend .ellipsis

          &__item
            width: 100%
            &:hover
              background: $navigation__submenu__links__background__color__hover
              a
                color: $navigation__submenu__links__color__hover

        &:hover,
        &--open
          .nav__links
            +media-custom('min', $navigation__breakpoint)
              display: block


.nav
  &__mobile
    .nav__links__wrapper
      // float: none
      // width: 100%
      // display: none
      &:last-child
        +media-custom('min', $navigation__breakpoint)
          margin-bottom: $the__global__padding


      &--open
        display: block
        clear: both

    // .nav__links__item
    //   width: 100%
    //   // +media-custom('min', $navigation__breakpoint)
    //   //   margin-left: -$the__global__padding
    //   //   margin-right: -$the__global__padding

    .nav__navicon
      @extend %icon
  // ($navigation__form__height / 2) - ($navigation__height / 2) + ($navigation__padding / 2)
  .form__item__group
    height: $navigation__form__height
    width: $navigation__form__width
    margin-top: (($navigation__height + ($navigation__padding / 2)) - $navigation__form__height) / 2
    +media-custom('max', $navigation__breakpoint)
      width: 100%
      margin-bottom: $the__global__padding

    input,
    button,
    button.btn,
    .btn,
    a.btn
      height: $navigation__form__height
      line-height: 0px
      outline: none
      border: solid 1px transparent
      box-shadow: none

      &:focus
        outline: none
        border: solid 1px transparent
        box-shadow: none

    .btn,
    a.btn,
    button,
    button.btn,
    input[type="submit"],
    input[type="submit"].btn,
      width: 50px
      min-width: 50px
