// ==========================================
// == Luna Framework
// == AUTHOR: CLAUDE MYBURGH
// == URL: http://lunaframework.co.za
// ==========================================

+normalize()

*,
*::before,
*::after
	box-sizing: border-box

body 
	font-size: $base-font-size
	line-height: $base-line-height
	font-family: $base-font-family
	color: $global-font-color
	background: $global-background-color

a:link,
a:visited,
a:hover,
a:focus
	color: $global-link-color
	text-decoration: none
	
a:hover 
	text-decoration: underline
