.row
  .col
    h3 Global alignment
  .md-col-4
    .panel.panel--default
      .panel__body.text-align-left <code>.text-align-left</code>
  .md-col-4
    .panel.panel--default
      .panel__body.text-align-center <code>.text-align-center</code>
  .md-col-4
    .panel.panel--default
      .panel__body.text-align-right <code>.text-align-right</code>
  .col
    h3 Align by breakpoints alignment
  .md-col-4
    .panel.panel--default
      .panel__body.md-text-align-left <code>.{prefix}-align-left</code>
  .md-col-4
    .panel.panel--default
      .panel__body.md-text-align-center <code>.{prefix}-align-center</code>
  .md-col-4
    .panel.panel--default
      .panel__body.md-text-align-right <code>.{prefix}-align-right</code>

  .col
    pre <code>&lt;!-- global alignment --&gt;
      | &lt;div class=&quot;text-align-left&quot;&gt;...&lt;/div&gt;
      | &lt;div class=&quot;text-align-center&quot;&gt;...&lt;/div&gt;
      | &lt;div class=&quot;text-align-right&quot;&gt;...&lt;/div&gt;
      | &lt;!-- alignment by breakpoint --&gt;
      | &lt;div class=&quot;md-text-align-left&quot;&gt;...&lt;/div&gt;
      | &lt;div class=&quot;md-text-align-center&quot;&gt;...&lt;/div&gt;
      | &lt;div class=&quot;md-text-align-right&quot;&gt;...&lt;/div&gt;
    </code>
