.row
  .md-col-12
    h2 Buttons
    p To create a button style you can just add a <code>.btn</code> class to your anchor or button elements. Optionally you can add additional classes to style the element color, size or stylization.
    p To change color just add the following code  <code>.btn--primary</code> <code>.btn--secondary</code> <code>.btn--info</code> <code>.btn--warning</code> <code>.btn--success</code> <code>.btn--danger</code>

    blockquote.blockquote.blockquote--info
      .blockquote__header Add more color buttons.
      .blockquote__body When any additional colors are added to any of the color maps the new button will be automatically be generated.

    .button__list
      a(href="#", class="btn") Button
      each val, index in ['default', 'primary', 'secondary', 'dark', 'info', 'warning', 'success', 'danger']
        <a href="#"  class="btn btn--#{val} tooltip--top" data-tooltip="button">Button</a>

    pre: <code class="html">&lt;a href=&quot;#&quot; class=&quot;btn&quot;&gt;Button&lt;/a&gt;
      | &lt;a href=&quot;#&quot; class=&quot;btn btn--default&quot;&gt;Button&lt;/a&gt;
      | &lt;a href=&quot;#&quot; class=&quot;btn btn--primary&quot;&gt;Button&lt;/a&gt;
      | &lt;a href=&quot;#&quot; class=&quot;btn btn--secondary&quot;&gt;Button&lt;/a&gt;
      | &lt;a href=&quot;#&quot; class=&quot;btn btn--dark&quot;&gt;Button&lt;/a&gt;
      | &lt;a href=&quot;#&quot; class=&quot;btn btn--info&quot;&gt;Button&lt;/a&gt;
      | &lt;a href=&quot;#&quot; class=&quot;btn btn--warning&quot;&gt;Button&lt;/a&gt;
      | &lt;a href=&quot;#&quot; class=&quot;btn btn--succeess&quot;&gt;Button&lt;/a&gt;
      | &lt;a href=&quot;#&quot; class=&quot;btn btn--danger&quot;&gt;Button&lt;/a&gt;
    </code>

    h2 Gradient Buttons

    p To add a subtle gradient to a button you can just append <code>-gradient </code> at the end of any of the styled buttons.
    .button__list
      <a href="#" class="btn">Button</a>
      each val, index in ['default', 'primary', 'secondary', 'dark', 'info', 'warning', 'success', 'danger']
        <a href="#" class="btn btn--#{val}-gradient">Button</a>

    pre: code(class="html")= '<a href="#" class="btn btn--primary-gradiant">Button</a>'

    h2 Button Sizes
    p To change button size, add one of the following classes to the <code>.btn</code> class. <code>.btn--xs</code> <code>.btn--sm</code> <code>.btn--md</code> <code>.btn--lg</code> <code>.btn--xl</code>
    .button__lists
      <a href="#" class="btn btn--primary btn--xs">Button</a>
      <a href="#" class="btn btn--primary btn--sm">Button</a>
      <a href="#" class="btn btn--primary btn--md">Button</a>
      <a href="#" class="btn btn--primary btn--lg">Button</a>
      <a href="#" class="btn btn--primary btn--xl">Button</a>

    pre: code(class="html") &lt;a href=&quot;#&quot; class=&quot;btn btn--xl&quot;&gt;Button&lt;/a&gt;
      | &lt;a href=&quot;#&quot; class=&quot;btn btn--sm&quot;&gt;Button&lt;/a&gt;
      | &lt;a href=&quot;#&quot; class=&quot;btn btn--md&quot;&gt;Button&lt;/a&gt; &lt;!-- default --&gt;
      | &lt;a href=&quot;#&quot; class=&quot;btn btn--lg&quot;&gt;Button&lt;/a&gt;
      | &lt;a href=&quot;#&quot; class=&quot;btn btn--xl&quot;&gt;Button&lt;/a&gt;


    h2 Button Icons
    p Lunacon Icon can be placed ever on left or right. <code>.btn__icon--left</code> or <code>.btn__icon--right</code>
    .button__list
      a(href="#", class="btn btn--primary-gradient") Icon on Right <i class="btn__icon--right lunacon lunacon-moon"></i>
      a(href="#", class="btn btn--primary-gradient") <i class="btn__icon--left lunacon lunacon-moon-solid"></i> Icon on Left
      a(href="#", class="btn btn--primary-gradient") <i class="btn__icon lunacon lunacon-moon-solid"></i>

    pre: code(class="html") &lt;a class=&quot;btn&quot;&gt;&lt;i class=&quot;btn__icon--left lunacon lunacon-moon-solid&quot;&gt;&lt;/i&gt;Button&lt;/a&gt;
      | &lt;a class=&quot;btn&quot;&gt;Button&lt;i class=&quot;btn__icon--right lunacon lunacon-moon-solid&quot;&gt;&lt;/i&gt;&lt;/a&gt;
      | &lt;a class=&quot;btn&quot;&gt;&lt;i class=&quot;btn__icon lunacon lunacon-moon-solid&quot;&gt;&lt;/i&gt;&lt;/a&gt;


    h2 Block Button
    p This block element will stretch the button to fill the parent element. Just add <code>.btn--block</code> to the button element.

    pre <code>&lt;div class=&quot;column&quot;&gt;
      |  &lt;a href=&quot;#&quot; class=&quot;btn btn--primary btn--block&quot;&gt;Block Button&lt;/a&gt;
      | &lt;/div&gt;
    </code>

    .row
      .col
        a(class="btn btn--primary btn--block") Block Button

    h2 Grouped Button
    p Grouping button elements

    .btn__group
      a(href="#", class="btn btn--primary") Button
      a(href="#", class="btn btn--primary"): i(class="lunacon lunacon-moon-solid")

    p.clearfix

    .btn__group
      a(href="#", class="btn btn--info") <i class="btn__icon--left lunacon lunacon-home-solid"></i> Button
      a(href="#", class="btn btn--warning") <i class="btn__icon--left lunacon lunacon-home-solid"></i> Button
      a(href="#", class="btn btn--success") <i class="btn__icon--left lunacon lunacon-home-solid"></i> Button
      a(href="#", class="btn btn--danger") <i class="btn__icon--left lunacon lunacon-home-solid"></i> Button
