.row
  .col
    h2 Ellipsis
    p The ellipsis class is just a small little helper class to help text form overflowing and word wrapping. This will clip the text to a single line and append three dotes to the end.

  .md-col-3
    .well.ellipsis  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo sunt suscipit libero recusandae ducimus quibusdam veniam, quaerat saepe possimus, minima!
  .md-col-3
    .well.ellipsis  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo sunt suscipit libero recusandae ducimus quibusdam veniam, quaerat saepe possimus, minima!
  .md-col-3
    .well.ellipsis  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo sunt suscipit libero recusandae ducimus quibusdam veniam, quaerat saepe possimus, minima!
  .md-col-3
    .well.ellipsis  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo sunt suscipit libero recusandae ducimus quibusdam veniam, quaerat saepe possimus, minima!

  .col
    pre: code &lt;div class=&quot;ellipsis&quot;&gt;Long text here&lt;/div&gt;
