.row
  .col
    h2 Font Styles
    p Here are some font styles to quickly change the font styles from normal to lighter, bold, italic or both italic and weight.

  .md-col-6
    .well
      h3 Font Weight
      p.font--light .font--light
      p.font--normal .font--normal
      p.font--bold .font--bold
  .md-col-6
    .well
      h3 Font Style
      p.font--light-italic font--light-italic
      p.font--italic font--italic
      p.font--bold-italic font--bold-italic

  .col
    pre: <code>&lt;!-- font weight --&gt;
      | &lt;span class=&quot;font--normal&quot;&gt;Normal&lt;/span&gt;
      | &lt;span class=&quot;font--light&quot;&gt;Light&lt;/span&gt;
      | &lt;span class=&quot;font--bold&quot;&gt;Bold&lt;/span&gt;
      | &lt;!-- font styles --&gt;
      | &lt;span class=&quot;font--italic&quot;&gt;Italic&lt;/span&gt;
      | &lt;span class=&quot;font--light-italic&quot;&gt;Light Italic&lt;/span&gt;
      | &lt;span class=&quot;font--bold-italic&quot;&gt;Bold Italic&lt;/span&gt;
    </code>
