.row
  .col
    h2 Heading
    p The vertical rhythm heading settings is by default set by normalize-css. Simply alter the settings in the <code>_settings.sass</code> file.
    .well
      each value in ['1','2', '3', '4', '5', '6']
        <h#{value}>Heading #{value}</h1>
      p.text--primary Paragraph

.row
  .col

    h2 Text alignment classes
    p Text can be aligned in two different ways. This can be done globally or by breakpoints. Simply use ether one of these classes. For global <code>.text-align-{direction}</code> or for breakpoints <code>.{prefix}-align-{direction}</code>
