

.row
  .col
    h2 Hide and Show
    p Elements can be hidden or shown in two different ways. This can be done globally or by breakpoints. Simply use ether one of these classes. For global use the <code>.hide</code> or <code>.show</code> classes. If you want to hide or show an element on a specific screen size. The you can use this for breakpoints sizes <code>.{prefix}-show</code> or <code>.{prefix}-hide</code>

.row.flex

  .md-col-4.hide.md-show
    .well.background--primary-light
      h4 Will be hidden on small size screen, but will be visible on medium size screen.
  .md-col-4.md-hide
    .well.background--secondary-light
      h4.text--secondary Will be visible on small size screen, but will be hidden on medium size screen.
  .md-col-4.md-hide.lg-show
    .well.background--success-light
      h4.text--success Will be hidden on small size screen, but will be visible on large size screen.
  .md-col-4.hide.xl-show
    .well.background--danger-light
      h4.text--danger Will be only be visable on XL screens
