.row
  .col
    h2 Images Shapes
    p  The <code>.responsive__image</code> class will keep the image element from overflowing the parent element. This will also make the image mobile friendly because the image never exceeds the boundary of the webpage.

  .md-col-4
    img(src="img/luna.jpg", alt="Luna", class="responsive__image image--round")
  .md-col-4
    img(src="img/nasa-earth.jpg", alt="Nasa Earth", class="responsive__image")
  .md-col-4
    img(src="img/nasa-moon.jpg", alt="Nasa Moon", class="responsive__image")

  .col
    pre: code  &lt;img src=&quot;#&quot; class=&quot;responsive__image&quot; alt=&quot;&quot;&gt;
