.row
  .md-col-12
    h2 Media Object
    p There are 2 variations of the notify elements. A default set and a light set.  Simply append <code>–-light</code> to the end of any notify elements.

    blockquote.blockquote.blockquote--warning
      .blockquote__header This element works great for comments and listings.

.row
  .col
    .media
      .media__left.media--top
        .media__image
          img(src="", alt="", width="80px", height="80px").media__thumbnail
      .media__body
        .media__heading  Lorem ipsum dolor sit amet.
        div Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum non tempore et nemo corporis praesentium cumque porro animi necessitatibus dicta!
    .media
      .media__body
        .media__heading  Lorem ipsum dolor sit amet.
        div Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum non tempore et nemo corporis praesentium cumque porro animi necessitatibus dicta!
      .media__right.media--top
        .media__image
        img(src="", alt="", width="80px", height="80px").media__thumbnail

  .col
    pre: code(class="html") &lt;div class=&quot;media&quot;&gt;
      |  &lt;div class=&quot;media__body&quot;&gt;
      |    &lt;div class=&quot;media__heading&quot;&gt; .....&lt;/div&gt;
      |    &lt;div&gt;.....&lt;/div&gt;
      |  &lt;/div&gt;
      |  &lt;div class=&quot;media__right media--top&quot;&gt;
      |    &lt;div class=&quot;media__image&quot;&gt;&lt;/div&gt;&lt;img src=&quot;&quot; alt=&quot;&quot; width=&quot;80px&quot; height=&quot;80px&quot; class=&quot;media__thumbnail&quot;&gt;
      |  &lt;/div&gt;
      |&lt;/div&gt;
.row
  .col
    blockquote.blockquote.blockquote--warning
      .blockquote__header Just add a little styling to the element.
      .blockquote__body Just add <code>.media--default</code> to the main media element

.row
  .col
    .media.media--default
      .media__left.media--top
        .media__image
          img(src="", alt="", width="80px", height="80px").media__thumbnail
      .media__body
        .media__heading  Lorem ipsum dolor sit amet.
        div Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum non tempore et nemo corporis praesentium cumque porro animi necessitatibus dicta!
    .media.media--default
      .media__body
        .media__heading  Lorem ipsum dolor sit amet.
        div Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum non tempore et nemo corporis praesentium cumque porro animi necessitatibus dicta!
      .media__right.media--top
        .media__image
          img(src="", alt="", width="80px", height="80px").media__thumbnail

  .col
    pre: code(class="html") &lt;div class=&quot;media media--default&quot;&gt;
      |  &lt;div class=&quot;media__body&quot;&gt;
      |    &lt;div class=&quot;media__heading&quot;&gt; .....&lt;/div&gt;
      |    &lt;div&gt;.....&lt;/div&gt;
      |  &lt;/div&gt;
      |  &lt;div class=&quot;media__right media--top&quot;&gt;
      |    &lt;div class=&quot;media__image&quot;&gt;&lt;/div&gt;&lt;img src=&quot;&quot; alt=&quot;&quot; width=&quot;80px&quot; height=&quot;80px&quot; class=&quot;media__thumbnail&quot;&gt;
      |  &lt;/div&gt;
      |&lt;/div&gt;
