

nav.nav.nav--fixed.nav--shadow-light
	.nav__wrapper
		//- .nav__no__brand
		.nav__brand
			a(href="index.html") Luna Framework

		.nav__navicon


		.nav__links__wrapper.nav__links--right
			ul.nav__links
				li.nav__links__item
					a(href="index.html") Home
				li.nav__links__item
					a(href="icons.html") Icons
				li.nav__links__item.nav__links__item--dropdown
					a(href="index.html") Docs
					ul.nav__links
						li.nav__links__item: a(href="grid.html") The Grid
						li.nav__links__item: a(href="components.html") Components
						li.nav__links__item.nav__links__item--dropdown: a(href="#") Helpers
							ul.nav__links.left
								li.nav__links__item: a(href="css-helpers.html") Css Helpers
								li.nav__links__item: a(href="sass-helpers.html") Sass Helper
						li.nav__links__item: a(href="javascript.html") Javascript
						li.nav__links__devider 
				li.nav__links__item
					a(href="starters.html") Starters
