.row
  .md-col-12
    h2 Navigation
    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque culpa laborum ullam, possimus odio, quaerat quasi optio commodi hic, laudantium voluptates numquam esse quam? Quia quo autem impedit voluptatem ipsam.

.row.padding--bottom
  .col
    nav.nav.background--primary
      .nav__wrapper
        .nav__brand
          a(href="index.html") Luna Framework
        .nav__navicon
        .nav__links__wrapper.nav__links--right
          ul.nav__links
            li.nav__links__item
              a(href="index.html") Home
            li.nav__links__item
              a(href="icons.html") Icons

.row.padding--bottom
  .col
    nav.nav.background--secondary
      .nav__wrapper
        .nav__brand
          a(href="index.html") Luna Framework
        .nav__navicon
        .nav__links__wrapper.nav__links--left
          ul.nav__links
            li.nav__links__item
              a(href="index.html") Home
            li.nav__links__item
              a(href="icons.html") Icons


.row.padding--bottom
  .col
    nav.nav.background--danger
      .nav__wrapper
        .nav__brand
          a(href="index.html") Luna Framework
        .nav__navicon
        .nav__links__wrapper.nav__links--left
          ul.nav__links
            li.nav__links__item
              a(href="index.html") <i class="icon--left lunacon lunacon-bell-solid"></i>  Home
            li.nav__links__item
              a(href="icons.html") <i class="btn__icon--left lunacon lunacon-bell-solid"></i>  Icons

        .nav__links__wrapper.nav__links--right
          ul.nav__links
            li.nav__links__item
              a(href="index.html") Login
            li.nav__links__item
              a(href="icons.html") Register

.row.padding--bottom
  .col
    nav.nav.nav__mobile.background--success
      .nav__wrapper
        .nav__brand
          a(href="index.html") Luna Framework
        .nav__navicon
        .nav__links__wrapper.nav__links--left
          ul.nav__links
            li.nav__links__item
              a(href="index.html") <i class="icon--left lunacon lunacon-home-solid"></i>  Home
            li.nav__links__item
              a(href="icons.html") <i class="btn__icon--left lunacon lunacon-bell-solid"></i>  Icons

        .nav__links__wrapper.nav__links--right
          ul.nav__links
            li.nav__links__item
              a(href="index.html")  <i class="btn__icon--left lunacon lunacon-user-solid"></i> Login
            li.nav__links__item
              a(href="icons.html") <i class="btn__icon--left lunacon lunacon-user-delete-solid "></i> Register
.row.padding--bottom
  .col
    nav.nav.background--info
      .nav__wrapper
        .nav__brand
          a(href="index.html") Luna Framework
        .nav__navicon
        .nav__links__wrapper.nav__links--left
          ul.nav__links
            li.nav__links__item
              a(href="index.html") Login
            li.nav__links__item
              a(href="icons.html") Register


        .nav__links__wrapper.nav__links--right
          .form__item__group
            input(type="text", placeholder="seach" class="form__item background--info-light text--info border--primary")
            button(type="submit", class="btn btn--primary") <i class="lunacon lunacon-bell-solid"></i>
