.row#navigation.scrollspy
  .md-col-12
    h2 Navigation
    p The navigation component can be added multiple times to a page. The navigation can be altered by changing the variables in the <code>_settings.sass </code> or adding color styles to the markup

.row.padding--bottom
  .col
    nav.nav.background--primary
      .nav__wrapper
        .nav__brand
          a(href="index.html") Luna Framework
        .nav__navicon
        .nav__links__wrapper.nav__links--right
          ul.nav__links
            li.nav__links__item
              a(href="index.html") Home
            li.nav__links__item
              a(href="icons.html") Icons

.row.padding--bottom
  .col
    nav.nav.background--secondary.nav--shadow-dark
      .nav__wrapper
        .nav__brand
          a(href="index.html") Luna Framework
        .nav__navicon
        .nav__links__wrapper.nav__links--left
          ul.nav__links
            li.nav__links__item
              a(href="index.html") Home
            li.nav__links__item
              a(href="icons.html") Icons

            li.nav__links__button
              a(href="#").btn.btn--white.text--secondary Button


.row.padding--bottom
  .col
    nav.nav.background--danger.nav--shadow
      .nav__wrapper
        .nav__brand
          a(href="index.html") Luna Framework
        .nav__navicon
        .nav__links__wrapper.nav__links--left
          ul.nav__links
            li.nav__links__item
              a(href="index.html") <i class="icon--left lunacon lunacon-bell-solid"></i>  Home
            li.nav__links__item
              a(href="icons.html") <i class="btn__icon--left lunacon lunacon-bell-solid"></i>  Icons

        .nav__links__wrapper.nav__links--right
          ul.nav__links
            li.nav__links__item
              a(href="index.html") Login
            li.nav__links__item
              a(href="icons.html") Register

.row.padding--bottom
  .col
    nav.nav.nav__mobile.background--success.nav--shadow-light
      .nav__wrapper
        .nav__brand
          a(href="index.html") Luna Framework
        .nav__navicon
        .nav__links__wrapper.nav__links--left
          ul.nav__links
            li.nav__links__item
              a(href="index.html") <i class="icon--left lunacon lunacon-home-solid"></i>  Home
            li.nav__links__item
              a(href="icons.html") <i class="btn__icon--left lunacon lunacon-bell-solid"></i>  Icons

        .nav__links__wrapper.nav__links--right
          ul.nav__links
            li.nav__links__button
              a(href="index.html").btn.btn--white.text--success  <i class="btn__icon--left lunacon lunacon-user-solid"></i> Login
            li.nav__links__button
              a(href="icons.html").btn.btn--white.text--success <i class="btn__icon--left lunacon lunacon-user-delete-solid "></i> Register

.row.padding--bottom
  .col
    nav.nav.background--info
      .nav__wrapper
        .nav__brand
          a(href="index.html") Luna Framework
        .nav__navicon
        .nav__links__wrapper.nav__links--left
          ul.nav__links
            li.nav__links__item
              a(href="index.html") Login
            li.nav__links__item
              a(href="icons.html") Register
        .nav__links__wrapper.nav__links--right
          li.nav__links__button
            .dropdown 
              a.btn.btn--default.dropdown__link(href="#") Dropdown Link <i class="lunacon lunacon-chevron-down"></i>
              .dropdown__container 
                ul 
                  li 
                    a(href="#") Link Item 1
                  li 
                    a(href="#") Link Item 2
                  li 
                    a(href="#") Link Item 3
                  li 
                    a(href="#") Link Item 4
.row
  .col
    h2 Single level navigation
    pre: <code class="html">&lt;nav class=&quot;nav&quot;&gt;
      |   &lt;div class=&quot;nav__wrapper&quot;&gt;
      |     &lt;div class=&quot;nav__brand&quot;&gt;&lt;a href=&quot;#&quot;&gt;Luna Framework&lt;/a&gt;&lt;/div&gt;
      |     &lt;div class=&quot;nav__navicon&quot;&gt;&lt;/div&gt;
      |     &lt;div class=&quot;nav__links__wrapper nav__links--left&quot;&gt;
      |       &lt;ul class=&quot;nav__links&quot;&gt;
      |         &lt;li class=&quot;nav__links__item&quot;&gt;&lt;a href=&quot;#&quot;&gt;...&lt;/a&gt;&lt;/li&gt;
      |         &lt;li class=&quot;nav__links__item&quot;&gt;&lt;a href=&quot;#&quot;&gt;...&lt;/a&gt;&lt;/li&gt;
      |       &lt;/ul&gt;
      |     &lt;/div&gt;
      |   &lt;/div&gt;
      |&lt;/nav&gt;
    </code>

  .col
    h2 Multi-level dropdown navigation
    p  To create a dropdown menu within the navigation you simply need to add <code> .nav__links__item--dropdown</code> to the <code>.nav__links__item</code> item.

    pre: <code class="html">&lt;li class=&quot;nav__links__item nav__links__item--dropdown&quot;&gt;
      |  &lt;a href=&quot;#&quot;&gt;...&lt;/a&gt;
      |  &lt;ul class=&quot;nav__links&quot;&gt;
      |    &lt;li class=&quot;nav__links__item&quot;&gt;
      |      &lt;a href=&quot;#&quot;&gt;...&lt;/a&gt;
      |    &lt;/li&gt;
      |    &lt;li class=&quot;nav__links__item&quot;&gt;
      |      &lt;a href=&quot;#&quot;&gt;...&lt;/a&gt;
      |    &lt;/li&gt;
      |    &lt;li class=&quot;nav__links__item&quot;&gt;
      |      &lt;a href=&quot;#&quot;&gt;...&lt;/a&gt;
      |    &lt;/li&gt;
      |  &lt;/ul&gt;
      |&lt;/li&gt;
    </code>
