.row
  .col
    h2 Notifyers
    p There are 2 variations of the notify elements. A default set and a light set.  Simply append <code>-light</code> to the end of any notify elements.

.row
  .col
    blockquote.blockquote.blockquote--warning
      .blockquote__header Make element dismissable.
      .blockquote__body
        | Add the class <code>.notify__dismissable</code> to the main element.
        | Also make sure to initialize the javasript function.

.row
  .md-col-6
    .notify.notify__dismissable Info Notify
    .notify.notify__dismissable.notify--default Info Notify
    .notify.notify__dismissable.notify--info Info Notify
    .notify.notify__dismissable.notify--warning Warning Notify
    .notify.notify__dismissable.notify--success Success Notify
    .notify.notify__dismissable.notify--danger Danger Notify

  .md-col-6
    .notify.notify__dismissable Info Notify Light
    .notify.notify__dismissable.notify--default-light Info Notify Light
    .notify.notify__dismissable.notify--info-light Info Notify Light
    .notify.notify__dismissable.notify--warning-light Warning Notify Light
    .notify.notify__dismissable.notify--success-light Success Notify Light
    .notify.notify__dismissable.notify--danger-light Danger Notify Light


.row
  .column
    pre <code>&lt;div class=&quot;notify notify__dismissable&quot;&gt;Info Notify&lt;/div&gt;
      | &lt;div class=&quot;notify notify__dismissable notify--default&quot;&gt;Info Notify&lt;/div&gt;
      | &lt;div class=&quot;notify notify__dismissable notify--info&quot;&gt;Info Notify&lt;/div&gt;
      | &lt;div class=&quot;notify notify__dismissable notify--warning&quot;&gt;Warning Notify&lt;/div&gt;
      | &lt;div class=&quot;notify notify__dismissable notify--success&quot;&gt;Success Notify&lt;/div&gt;
      | &lt;div class=&quot;notify notify__dismissable notify--danger&quot;&gt;Danger Notify&lt;/div&gt;
      | &lt;!-- for light version just add -light at the back --&gt;
      | &lt;div class=&quot;notify notify--info-light&quot;&gt;Info Notify&lt;/div&gt;
    </code>
