




.row
	.md-col-12
		h2 Pagination
		p A simple pagination wrapper. 

.row 
	.col 
		ul.pagination
			li.disable: span &laquo;
			li.active: span 1
			li: a(href="#") 2
			li: a(href="#") 3
			li: a(href="#") 4
			li: a(href="#") 5
			li: a(href="#") 6
			li: a(href="#") &raquo;
			
.row
	.column
		pre: code(class="html") &lt;ul class=&quot;pagination&quot;&gt;
			|    &lt;li class=&quot;disable&quot;&gt;&lt;span&gt;&amp;laquo;&lt;/span&gt;&lt;/li&gt;
			|    &lt;li class=&quot;active&quot;&gt;&lt;span&gt;1&lt;/span&gt;&lt;/li&gt;
			|    &lt;li&gt;&lt;a href=&quot;#&quot;&gt;2&lt;/a&gt;&lt;/li&gt;
			|    &lt;li&gt;&lt;a href=&quot;#&quot;&gt;3&lt;/a&gt;&lt;/li&gt;
			|    &lt;li&gt;&lt;a href=&quot;#&quot;&gt;4&lt;/a&gt;&lt;/li&gt;
			|    &lt;li&gt;&lt;a href=&quot;#&quot;&gt;5&lt;/a&gt;&lt;/li&gt;
			|    &lt;li&gt;&lt;a href=&quot;#&quot;&gt;6&lt;/a&gt;&lt;/li&gt;
			|    &lt;li&gt;&lt;a href=&quot;#&quot;&gt;&amp;raquo;&lt;/a&gt;&lt;/li&gt;
			|  &lt;/ul&gt;
