
.row
  .column
    h2 Tooltips
    p Luna has four directional tooltips for top, bottom, left and right.

  .md-col-4.md-offset-4.text-align-center
    span(data-tooltip="Tooltip Top with to long text i here, and to much to say", class="tooltip--top") Tooltip Top
    br
    br
    span(data-tooltip="Tooltip Bottom", class="tooltip--bottom") Tooltip Bottom
    br
    br
    span(data-tooltip="Tooltip Left long toop tips here ", class="tooltip--left") Tooltip Left
    br
    br
    span(data-tooltip="Tooltip Right", class="tooltip--right") Tooltip Right
    br
    br
