extends ./template/_layout.jade


block title
	title Luna Framework - Components

block content

	.page__header
		.wrapper
			i.lunacon.lunacon-dashboard.bigicon
			.row.padding
				.md-col-7
					h1.text--white Luna Framework Components

	.wrapper

		.row.pinned-container
			.md-col-3#sidebar 

				.well
					ul
						li: a(href="#navigation") Navigation
						li: a(href="#buttons") Buttons
						li: a(href="#inline-links") Inline Links
						li: a(href="#blockquotes") Blockquotes
						li: a(href="#notify") Notify
						li: a(href="#forms") Forms
						li: a(href="#pagination") Pagination
						li: a(href="#media-objects") Media Objects
						li: a(href="#tables") Tables
						li: a(href="#cards") Cards
						li: a(href="#timeline") Timeline
						li: a(href="#ribbon") Ribbon
						li: a(href="#accordian") Accordian
						li: a(href="#list") List


			.md-col-9


				include partials/_nav-docs.jade
				include partials/_buttons.jade
				include partials/_dropdown-button.jade
				include partials/_inline-link.jade
				include partials/_blockquote.jade
				include partials/_notify.jade
				include partials/_form-inputs.jade
				include partials/_pagination.jade
				include partials/_media-object.jade
				include partials/_tables.jade
				include partials/_card.jade
				include partials/_timeline.jade
				include partials/_ribbon.jade
				include partials/_accordian.jade
				include partials/_list.jade

block scripts
	script.
		$(document).ready(function(){
			$table = $('#table');
			$tableset = $('#table_set');
			$('#striped').on('change', function(){
			  if (this.checked){
				  $table.addClass('table--striped');
				}else{
				  $table.removeClass('table--striped');

				}
			});

			$('#outline').on('change', function(){
			  if (this.checked){
				  $tableset.addClass('table--border');
				}else{
				  $tableset.removeClass('table--border');

				}
			});


			$('#border').on('change', function(){
			  if (this.checked){
				  $table.addClass('table--bordered');
				}else{
				  $table.removeClass('table--bordered');

				}
			});


			$('#hover').on('change', function(){
			  if (this.checked){
				  $table.addClass('table--hover');
				}else{
				  $table.removeClass('table--hover');

				}
			});

			$('#scroller').on('change', function(){
			  if (this.checked){
				  $('#table_set').addClass('table__scrollable');
				}else{
				  $('#table_set').removeClass('table__scrollable');

				}
			});

			$('#responsive').on('change', function(){
			  if (this.checked){
				  $('#table_set').addClass('table__responsive');
				}else{
				  $('#table_set').removeClass('table__responsive');

				}
			});


			//- var window_width = $( window ).width();

			//- if (window_width < 768) {
			//- 	$("#sidebar").trigger("sticky_kit:detach");
			//- } else {
			//- 	make_sticky();
			//- }

			//- $( window ).resize(function() {

			//- 	window_width = $( window ).width();

			//- 	if (window_width < 800) {
			//- 			$("#sidebar").trigger("sticky_kit:detach");
			//- 		} else {
			//- 			make_sticky();
			//- 		}

			//- });

			//- function make_sticky() {
			//- 	$("#sidebar").stick_in_parent({
			//- 		offset_top: 120
			//- 	});
			//- }	





		});
