extends ./template/_layout.jade


block title
  title Luna Framework - Components

block content

  .page__header
    .wrapper
      .row.padding
        .md-col-7
          h1.text--white Luna Framework Components

  .wrapper
    .row
      .md-col-12
        h1 Components



    include partials/_nav-docs.jade
    include partials/_buttons.jade
    include partials/_notify.jade
    include partials/_form-inputs.jade
    include partials/_pagination.jade
    include partials/_media-object.jade
