<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Document
		link(rel="stylesheet", href="css/style.css")
	body

		.wrapper
			.row 
				.col
					br
					ul.timeline
						li.timeline__item
							.flag.flag--left  
								small.flag__date 2 November 1988
								h2 Hello
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae quos quaerat vero minus voluptatem aspernatur, delectus laborum eaque illum? Alias ducimus quisquam consequuntur deserunt temporibus, cum libero sapiente et culpa.


						li.timeline__item
							.flag.flag--right  
								small.flag__date 2 November 1988
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae quos quaerat vero minus voluptatem aspernatur, delectus laborum eaque illum? Alias ducimus quisquam consequuntur deserunt temporibus, cum libero sapiente et culpa.

						li.timeline__item
							.flag.flag--left  
								small.flag__date 2 November 1988
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae quos quaerat vero minus voluptatem aspernatur, delectus laborum eaque illum? Alias ducimus quisquam consequuntur deserunt temporibus, cum libero sapiente et culpa.


						li.timeline__item
							.flag.flag--right  
								small.flag__date 2 November 1988
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae quos quaerat vero minus voluptatem aspernatur, delectus laborum eaque illum? Alias ducimus quisquam consequuntur deserunt temporibus, cum libero sapiente et culpa.



	script(src="js/jquery.min.js")
	script(src="js/app.js")
	script.
		$(document).ready(function(){
		$(document).Luna();
		});
