<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Document
		link(rel="stylesheet", href="css/style.css")
	body 
		
		.has__modal
		.modal__overlay
			.modal 
				.modal__header Modal 
					.modal__close.text--white.background--danger.border--danger
				.modal__body  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam iusto, placeat eveniet laudantium nulla impedit ipsa, officiis, sit id facilis commodi necessitatibus molestiae incidunt iste magnam omnis modi neque tempore.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia natus consequuntur ipsa, error id perspiciatis rerum, quibusdam eos quo harum debitis, aut impedit non quisquam velit accusantium quos sequi nobis enim! Et sint qui nihil blanditiis reprehenderit quod veniam magnam quasi omnis!
				.modal__footer: a(href="#").btn.btn--primary BUTTON



		.wrapper 
			.row 
				br
				br
				br
				br
				.col 
					ul#accorian.accordian

						li.accordian__element 
							header.accordian__header.accordian__header--active Who owns the international space station?
							section.accordian__body.accordian__body--active International Space Station Legal Framework. The International Space Station is a co-operative programme between Europe, the United States, Russia, Canada, and Japan for the joint development, operation and utilisation of a permanently inhabited Space Station in low Earth orbit 

						li.accordian__element 
							header.accordian__header How many space stations are there in total?
							section.accordian__body There are only two space stations currently in orbit - the International Space Station and China's Tiangong-1. ISS is manned at all times and Tiangong-1 is unmanned most of the time.

						li.accordian__element 
							header.accordian__header What is the name of the world's first space station?
							section.accordian__body The first space station was Salyut 1, which was launched by the Soviet Union on April 19, 1971. Like all the early space stations, it was "monolithic", intended to be constructed and launched in one piece, and then inhabited by a crew later.

						li.accordian__element 
							header.accordian__header Can you see the space station?
							section.accordian__body The space station looks like a fast-moving plane in the sky, but it will be seen as a steady – not blinking – white pinpoint of light. Typically it will be the brightest object in the night sky (except for the Moon). It is bright enough that it can even be seen from the middle of a city!
		
						
				.col 
					p 
					p 
					p 

					ul#accorian2.accordian.accordian--spaced

						li.accordian__element 
							header.accordian__header how was the first man on the moon?
							section.accordian__body
								h2 Neil Armstrong
								p Apollo 11's mission was to land two men on the moon. They also had to come back to Earth safely. Apollo 11 blasted off on July 16, 1969. Neil Armstrong, Edwin "Buzz" Aldrin and Michael Collins were the astronauts on Apollo 

						li.accordian__element 
							header.accordian__header Who was the first woman to walk on the moon?
							section.accordian__body 
								h2 Sally Ride
								p It was the Cold War. NASA wouldn't accept women applicants to the astronaut corps until 1978. The first American woman to fly into space aboard the space shuttle was Sally Ride in 1983, and the glass stratosphere was finally shattered

						li.accordian__element 
							header.accordian__header Who was the very first astronaut?
							section.accordian__body 
								h2 Yuri Gagarin 
								p The Mercury Project suffered some early setbacks, however, and on April 12, 1961, Soviet cosmonaut Yuri Gagarin orbited Earth in the world's first manned space flight. Less than one month later, on May 5, astronaut Alan Shepard was successfully launched into space on a suborbital fligh

						li.accordian__element 
							header.accordian__header Who was the first animal on the moon?
							section.accordian__body 
								h2 Albert
								p A rhesus monkey called Albert 1 became the first monkey launched into space on June 11, 1948; also on board a US-launched V2 rocket. These were just suborbital flights, though. The first animal to actually go into orbit was the dog Laika, launched on board the Soviet Sputnik 2 spacecraft on November 3, 1957
	

	script(src="js/jquery.min.js")
	script(src="js/app.js")
	script.
		$(document).ready(function(){
		$(document).Luna();
		});
