<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Document
		link(rel="stylesheet", href="css/style.css")
	body

		.wrapper
			.row 
				.col
					ul.links__inline
						li.links__inline__item 
							a(href="#") Item

						li.links__inline__item 
							a(href="#") Item

						li.links__inline__item 
							a(href="#") Item

						li.links__inline__item 
							a(href="#") Item
			.row 
				.col
					ul.links__inline
						li.links__inline__item 
							a(href="#", class="btn btn--primary btn--round") Item
						li.links__inline__item 
							a(href="#", class="btn btn--round btn--secondary text--dark") Item
						li.links__inline__item 
							a(href="#", class="btn btn--round btn--dark") Item
						li.links__inline__item 
							a(href="#", class="btn btn--round btn--success") Item


			.row 
				.md-col-4
					.ribbon__wrapper
						.ribbon.ribbon--secondary.ribbon--top-left 
							span.ribbon__label.text--dark Label
						article.card
							header.card__thumb
								img(src="img/nasa-moon.jpg", alt="")

							section.card__body 
								.card__body__title Header	
	

	script(src="js/jquery.min.js")
	script(src="js/app.js")
	script.
		$(document).ready(function(){
		$(document).Luna();
		});
