<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Document
		link(rel="stylesheet", href="css/style.css")
	body

		.wrapper
			.row 
				.col
					br
					.form__group
						.form__group__checkbox
							input(type="checkbox", name="", id="check-1" class="form__checkbox")
							label(for="check-1", class="from__label__checkbox") Checkbox

						.form__group__checkbox
							input(type="checkbox", name="", id="check-3" class="form__checkbox")
							label(for="check-3", class="from__label__checkbox") Checkbox

						.form__group__checkbox
							input(type="checkbox", disabled="disabled" , name="", id="check-2" class="form__checkbox")
							label(for="check-2", class="from__label__checkbox") Checkbox



	script(src="js/jquery.min.js")
	script(src="js/app.js")
	script.
		$(document).ready(function(){
		$(document).Luna();
		});
