extends ./template/_layout.jade


block title
  title Luna Framework - Icons

block content

  .page__header
    .wrapper
      .row.padding
        .col
          h1.text--white Lunacon Icons



  .wrapper
    .row
      .col.button__list.flex

        each val in ['moon', 'moon-solid', 'navicon','close', 'close-small', 'dailer', 'dailer-solid', 'bell', 'bell-solid', 'bell-mute', 'bell-mute-solid', 'star', 'star-solid', 'star-half', 'star-half-solid', 'chevron-down', 'chevron-up', 'chevron-right', 'chevron-left', 'user', 'user-delete', 'user-solid', 'user-delete-solid', 'users', 'users-solid', 'checkmark', 'checkmark-small', 'home', 'home-solid', 'cloud', 'cloud-solid', 'cloud-check', 'cloud-check-solid', 'microphone', 'thumbs-up', 'thumbs-up-solid', 'thumbs-down', 'thumbs-down-solid', 'search', 'search-min', 'search-zoom', 'shield', 'shield-lock-solid']


          a(href="#").button <i class="lunacon lunacon-#{val} btn__icon--left"></i> #{val}
          | &nbsp;
    .row
      .col
        hr
        <i class="lunacon text--primary lunacon-home-solid lunacon--size-x1"></i>
        <i class="lunacon text--primary lunacon-home-solid lunacon--size-x2"></i>
        <i class="lunacon text--primary lunacon-home-solid lunacon--size-x3"></i>
        <i class="lunacon text--primary lunacon-home-solid lunacon--size-x4"></i>
        <i class="lunacon text--primary lunacon-home-solid lunacon--size-x5"></i>
