extends ./template/_layout.jade


block title
  title Luna Framework - Lightweight Responsive Framework



block content


  section.hero.text-center
    .wrapper.padding
      h1.text--default Luna Framework
      h3.text--default Lightweight Responsive Framework

  .wrapper
    .row.padding
      .md-col-12
        h1 Luna Framework
        blockquote.blockquote.blockquote--warning
          .blockquote__header Lightweight Responsive Framework

        p.lead <strong data-tooltip="Luna Framework">Luna Framework</strong> is a responsive Open Source CSS framework, build in SASS. The aim of this framework is to speed up frontend development by handling cross browser inconsistencies and creating support for mobile devices at the same time. The <strong>Luna Framework</strong> is also built on the CSS <strong data-tooltip="Luna Framework">BEM</strong> methodology to reduce the CSS footprint.
        a(href="#").btn.btn--lg.btn--primary Download


    .row.padding--bottom
      .md-col-12
        h2 Installation
        p <strong>Luna Framework</strong> can be obtained by bower, npm or by downloading it from GitHub.

        h3 via bower
        p You can install the Framework using bower. Make sure you have bower installed, then run :
        pre: code bower install Luna        

        h3 via npm
        p You can install the Framework using npm. Make sure you have nodejs installed, then run :
        pre: code npm install luna-sass


    .row.padding--bottom
      .md-col-12
        h1 Setting Up Luna Framework
        blockquote.blockquote.blockquote--warning
          .blockquote__header Duplicate the <i><strong>_settings.sass</strong></i> file in the sass folder to override the default styles.
        | To start to use <strong>Luna Framework</strong> you will need to do the following few steps. First you will need to copy the _settings.sass file in the sass directory and add it to the root of your sass folder. Now you just have to past the following code into the top of your main CSS file.

        pre: code(class="scss")
          | @import "settings"
          | @import "Luna/Framework/sass/init"
