extends ./template/_layout.jade


block title
  title Luna Framework - JavaScript

block content

  .page__header
    .wrapper
      .row.padding
        .md-col-7
          h1.text--white Luna Framework JavaScript


  .wrapper
    .row.flex
      .md-col-3.background--primary-light  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic tenetur inventore excepturi nemo sequi unde maxime fugiat, delectus veritatis saepe?
      .md-col-3.background--secondary-light  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      .md-col-3.background--danger-light  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic tenetur inventore excepturi nemo sequi unde maxime fugiat, delectus veritatis saepe?
      .md-col-3.well

    .row.flex
      .md-col-6.well
      .md-col-6.well
