extends ./template/_layout.jade


block title
  title Luna Framework - Sass Helpers

block content

  .page__header
    .wrapper
      .row.padding
        .md-col-7
          h1.text--white Luna Framework Sass Helpers


  .wrapper
    .row
      .col.button__list

        each val in ['moon', 'moon-solid', 'navicon', 'navicon-solid','close', 'close-solid', 'dailer', 'dailer-solid', 'bell', 'bell-solid', 'bell-mute', 'bell-mute-solid', 'star', 'star-solid', 'star-half', 'star-half-solid', 'chevron-down', 'chevron-up', 'chevron-right', 'chevron-left']
          a.btn.btn--primary <i class="lunacon lunacon-#{val} btn__icon--left"></i> #{val}
          | &nbsp; &nbsp;







    .row
      .col
        br
