extends ./template/_layout.jade


block title
	title Luna Framework - Sass Helpers

block content

	.page__header
		.wrapper
			i.lunacon.lunacon-thumbs-up.bigicon
			.row.padding
				.md-col-7
					h1.text--white Luna Framework Sass Helpers


	.wrapper
		.row
			.col
				h2 Clearfix Helper
				p Add a clearfix helper to any element to add a clear fix to it.
				pre: code(lang="html") //-- for sass
					| .element
					|   +clearfix

				pre: code(lang="html") //-- for scss
					| .element{
					|   @include clearfix;
					| }



			.col
				h2 Border Radius
				p The border radius helper will help you by short handing the class and also give you default radius that is predefined in the <code>_settings.sass</code> file.

				pre: code(lang="html") //-- for sass
					|  .element
					|     +radius
					|  .element
					|     +radius(10px)


				pre: code(lang="html") //-- for sass
					|  .element{
					|     @include radius;
					|  }
					|  .element{
					|     @include radius(10px);
					|  }



			.col
				h2 Media Breakpoints
				p Luna has loads of media helpers for creating breakpoints.
				ul
					li <code>+media-up($size)</code>
					li <code>+media-down($size)</code>
					li <code>+media-between($size1, $size2)</code>
					li <code>+media-custom($direction, $value)</code>

				h3 Predefined queries.
				ul
					li <code>+is--mobile</code>
					li <code>+is--tablet</code>
					li <code>+is--desktop</code>


				pre: code(lang="html") //-- for sass
					|  .element
					|     background: red
					|     +media-up(md)
					|        background: blue

