
extends ./template/_layout.jade


block title
  title Luna Framework - Icons

block content

  .page__header
    .wrapper
      .row.padding
        .col
          h1.text--white Lunacon Icons



  .wrapper
    .row
      .col
        ul.media__ui
          li.media__li
            i.lunacon.lunacon-play
          li.media__li
            i.lunacon.lunacon-stop
          li.media__li
            i.lunacon.lunacon-sound
          li.media__li
            i.lunacon.lunacon-pause
          li.media__li
            i.lunacon.lunacon-sound-mute
